apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app
  namespace: devops-prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-app
  template:
    metadata:
      labels:
        app: devops-app
    spec:
      containers:
      - name: app
        image: sathishsk1918/java-prod:IMAGE_TAG
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: app-secret
